
@font-face {
    font-family: "Playfair";
    src: url('../Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf');
}
*{
    padding: 0px;
    margin: 0px;
    font-family: "Playfair";
}

/* start nav */
.nav_logo{
    width: 240px;
    height: 80px;
    margin-left: 80px;
    margin-top: 10px;
}
.nav_item{
    float: right;
}
.nav_item li{
    display: inline-block;
    margin-top: 40px;
    margin-right: 60px;
}
.nav_item li a{
    text-decoration: none;
    font-size: 20px;
    color: black;
}
.register{
    border: 1px solid #234981;
    border-radius: 10px;
    padding: 8px 20px !important;
    background-color: #234981;
    color: #ffffff !important;
}
.register:hover{
    border: 1px solid #234981;
    background-color: #ffffff;
    color: #234981 !important;
}
.nav{    
    box-shadow: 3px 5px 50px #e6e8eb;
}

/* end nav */

/* start bunner */
.bunner_logo{
    width: 100%;
}
.banner{
    position: relative;
}
.banner_text{
    position: absolute;
    top: 40%;
    left: 35%;
    color: white;
    text-align: center;
}
.banner_text p{
    margin: 20px 0px 40px;
}
.banner_text h1{
    font-size: 30px;
}
.banner_text a{
    border: 1px solid #234981;
    border-radius: 5px;
    padding: 12px 20px !important;
    background-color: #ffffff;
    color: #234981 !important;
    text-decoration: none;
}

.banner_text a:hover{
    border: 1px solid #234981;
    border-radius: 5px;
    padding: 12px 20px !important;
    background-color: #234981;
    color: #ffffff !important;
}

/* end banner */


/* start popular */
.popular{
    width: 80%;
    margin: auto;
    margin-top: 80px;
}

.popular_card{
    margin-top: 20px;
    display: grid;
    grid-gap: 30px;
    grid-template-columns: 33% 33% 33%;
}

.popular_item img{
    width: 100%;
}
.popular_item img:hover{
    transform: scale(1.2);
    transition-duration: .8s;
}
.popular_hover{
    overflow: hidden;
    display: inline-block;
}
.popular_item{
    border: 1px solid #eceaea;
    border-radius: 5px;
    padding: 5px;
    overflow: hidden;
    display: inline-block;
}
.popular_item h3{
    padding: 5px 15px ;
}
.popular_item p{
    padding: 5px 15px ;
}
.popular_item button{
    float: right;
    border: 1px solid #234981;
    border-radius: 5px;
    padding: 10px;
    background-color: #234981;
    color: #ffffff !important;
    margin-bottom: 20px;
}

/* end popular */


/* start about */
#about{
    width: 80%;
    margin: auto;
    margin-top: 80px;
}

.about_title{
    text-align: center;
    display: block;
}

.about{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 50px;
    margin-top: 40px;
}
.about_img{
    border: 1px solid #eceaea;
    padding: 5px;
    border-radius: 5px;
}
.about img{
    width: 100%;
}
.about_text{
    line-height: 30px;
    text-align: justify;
}

/* end about */

/* start contact */
#contact{
    width: 70%;
    margin: auto;
    margin-top: 80px;
}
.contact{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 50px;
    margin-top: 40px;
}
.contact_us{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 30px;
}
.contact_us div{
    padding: 40px;
    border: 1px solid #e6e8eb;
    text-align: center;
}
.contact_us div p{
    margin: 15px 0px;
}

/* end contact */

/* start footer */

.footer{
    margin-top: 50px;
    padding: 50px 50px 25px;
    background-color: black;
    color: #ffffff;
    text-align: center;
}
.footer_icon{
    color: #ffffff;
    text-decoration: none;
    padding: 0px 10px;
}
.footer p{
    margin: 25px 10px;
}
.footer_nav{
    color: #ffffff;
    text-decoration: none;
    padding: 25px;

}
